*{
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-header{
    flex: 1;
    text-align: center;
    border: 3px solid red;
}
.game-timer{
    position: absolute;
    text-align: center;
    top: 0px;
    right: 20px;
    border: 3px solid red;
}
.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid red;
    padding: 20px;
}
.row{
    display: flex;
    flex-direction: row;
}
.game-hole{
    border-radius: 50%;
    border: 2px brown solid;
    width: 200px;
    height: 200px;
}

#score{
    font-size: 24px;
}
#timer{
    font-size: 24px;
}
.mole {
  background-image: url("mole.jpeg");
  background-size: cover;
}